@import "colors.less";

@feedBackColor: @terraLight;
@feedBorderTopColor: @white;
@feedShadowColor: rgba(0, 0, 0, 0.5);
@feedListBack: @aquaGreen;

@topBarBackColor: @aquaGreen;
@topBarBackLight: lighten(@aquaGreen, 10%);
@topBarTextColor: @black;