@import "skin.less";
@import "variables.less";
@import "mixins.less";

//TOP
.top-bar-back {
    top: 0;
    position: fixed;
    z-index: @zIndexTop - 10;
    right: 0;
    left: 0;
    height: @topHeight;
    background-color: @topBarBackColor;
    .gradientBar(@topBarBackLight, @topBarBackColor);
    .opacity(10);
    .box-shadow(~"0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1)");
    border-bottom: 1px solid black;
}
.top-bar {
    top: 0;
    position: fixed;
    z-index: @zIndexTop;
    right: 0;
    left: 0;
    height: @topHeight;
    background-color: transparent;
    padding-left: @paddingLarge;
    padding-right: @paddingLarge;
    color: @topBarTextColor;
    a {
        color: @topBarTextColor;
    }
}
.content-wrapper {
    margin-top: @topHeight;
}

//RSS
.main, .details {
    width: 48%;
    display: inline-block;
    vertical-align: top;
    overflow-y: scroll;
}
.details {
    right: @paddingLarge;
    position: fixed;
    padding-top: @topHeight;
    top: 0;
    height: 90%;
}
.rss-list {
    background-color: @feedListBack;
    padding: @paddingMedium;
}
.rss-item {
    padding: @paddingSmall;
    margin-bottom: @paddingSmall;
    border: 1px solid;
    border-top-color: @feedBorderTopColor;
    background-color: @feedBackColor;
    .box-shadow();
    .border-radius();
}
.rss-item-info {
    background-color: white;
    border: 1px solid #B9B9B9;
    border-bottom-color: #939393;
    padding: @paddingSmall;
    .border-radius();
}
.preview-wrapper {
    .preview-item {
        background-color: white;
        padding: @paddingMedium;
        .border-radius();
        .box-shadow();
    }
    background-color: @feedBackColor;
    padding: @paddingMedium;
}