@import "skin.less";
@import "variables.less";
@import "mixins.less";

//RSS
.main, .details {
    width: 48%;
    display: inline-block;
    vertical-align: top;
    overflow-y: scroll;
    height: 100%;
    position: fixed;
    top: 0;
}
.details {
    right:0;
}
.rss-list {
    background-color: @feedListBack;
    padding: @paddingMedium;
}
.rss-item {
    padding: @paddingSmall;
    margin-bottom: @paddingSmall;
    border: 1px solid;
    border-top-color: @feedBorderTopColor;
    background-color: @feedBackColor;
    .box-shadow();
    .border-radius();
}
.rss-item-info {
    background-color: white;
    border: 1px solid #B9B9B9;
    border-bottom-color: #939393;
    padding: @paddingSmall;
    .border-radius();
}